@using Umbraco.Web.Models;
@using MuaBan.Models;
@using Umbraco.Web.Models;
@using Umbraco.Web.Mvc;
@using Umbraco.Core.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@helper GetProduct()
{
    List<Product> List = new List<Product>();
    for (int i = 0; i < 9; i++)
    {

        int j = i + 1;
        string Brandproduct = "BrandProduct" + j;
        string Nameproduct = "NameProduct" + j;
        string ImageProductShow = "ImageProductShow" + j;
        string ImageProductDetail1 = "ImageProductDetail1" + j;
        string ImageProductDetail2 = "ImageProductDetail2" + j;
        string ImageProductDetail3 = "ImageProductDetail3" + j;
        string Price = "Price" + j;
        string check = "Check" + j;
        string topsell = "TopSell" + j;
        string Decription = "Decription" + j;
        Product temp = new Product();
        temp.Brandproduct = Umbraco.AssignedContentItem.GetPropertyValue(Brandproduct).ToString();
        temp.Nameproduct = Umbraco.AssignedContentItem.GetPropertyValue(Nameproduct).ToString();
        temp.ImageProductShow = "." + Umbraco.Field(ImageProductShow).ToString();
        temp.ImageProductDetail1 = "." + Umbraco.Field(ImageProductDetail1).ToString();
        temp.ImageProductDetail2 = "." + Umbraco.Field(ImageProductDetail2).ToString();
        temp.ImageProductDetail3 = "." + Umbraco.Field(ImageProductDetail3).ToString();
        temp.Price = Umbraco.AssignedContentItem.GetPropertyValue(Price).ToString();
        temp.Decription = Umbraco.AssignedContentItem.GetPropertyValue(Decription).ToString();
        if (Umbraco.AssignedContentItem.GetPropertyValue(check).ToString().Equals("True") == true)
        {
            temp.Check = true;
        }
        else { temp.Check = false; }
        if (Umbraco.AssignedContentItem.GetPropertyValue(topsell).ToString().Equals("True") == true)
        {
            temp.TopSell = true;
        }
        else { temp.TopSell = false; }
        List.Add(temp);
    }
    Session["list"] = List;
}
@helper  ShowProduct(List<Product> List)
{
    int i = 0;
    foreach (Product product in List)
    {

        if (product.Check == true)
        {
            string url = "/ProductDetail?id=" + i;
            <div class="col-md-4 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="@product.ImageProductShow" alt="">
                        <div class="product-label">
                            <span class="new">MỚI</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">@product.Brandproduct</p>
                        <h3 class="product-name"><a href="@url">@product.Nameproduct</a></h3>
                        <h4 class="product-price">@product.Price VNĐ</h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                   
                       <a href="@url">CHI TIẾT</a>
                   
                </div>
            </div>
        }
        i++;
    }
}




@helper  ShowProductTop(List<Product> List)
{
    foreach (Product product in List)
    {
        if (product.Check == true && product.TopSell == true)
        {
            <div class="product-widget">
                <div class="product-img">
                    <img src="@product.ImageProductShow" alt="">
                </div>
                <div class="product-body">
                    <p class="product-category">@product.Brandproduct</p>
                    <h3 class="product-name"><a href="#">@product.Nameproduct</a></h3>
                    <h4 class="product-price">@product.Price VNĐ</h4>
                </div>
            </div>
        }
    }

}





<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">THƯƠNG HIỆU</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <label for="brand-2">
                                <span></span>
                                <li><a href="/DELL">DELL</a></li>
                            </label>
                        </div>
                        <div class="input-checkbox">

                            <label for="brand-3">
                                <span></span>
                                <li><a href="/SONY">SONY</a></li>
                            </label>
                        </div>
                        <div class="input-checkbox">

                            <label for="brand-4">
                                <span></span>
                                <li><a href="/ASUS">ASUS</a></li>
                            </label>
                        </div>
                        <div class="input-checkbox">

                            <label for="brand-5">
                                <span></span>
                                <li><a href="/THINKPAD">THINKPAD</a></li>
                            </label>
                        </div>
                        <div class="input-checkbox">

                            <label for="brand-6">
                                <span></span>
                                <li><a href="/HP">HP</a></li>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">SẢN PHẨM BÁN CHẠY</h3>
                    @GetProduct()
                    @{List<Product> ls = (List<Product>)Session["list"];}
                    @ShowProductTop(ls)
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store products -->
                <div class="row">
                    @ShowProduct((List<Product>)Session["list"])
                </div>
                <!-- /store products -->

            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
